//ADDED BY SHABBIR
@header-bg:#ffffff;

body {
    overflow-x: hidden;
}

.webix_template{
	padding:0px;
}

.webix_carousel{
	border:0px!important;
	width:100%!important;
}

.appstore-combo-placeholder(@rules) {

    &::-webkit-input-placeholder {
        @rules();
    }
    &:-moz-placeholder {
        @rules();
    }
    &::-moz-placeholder {
        @rules();
    }
    &:-ms-input-placeholder {
        @rules();
    }
}