// swagger varables
@swagger-toolbar-bgcolor:#0385cd;
@swagger-toolbar-title-color:#ffffff;
@swagger-toolbar-close-button-color:#ecf1f4;
@swagger-toolbar-close-button-bgcolor:#0385cd;

.swagger-window {
  .webix_win_head {
    border-top: 0;
    .webix_layout_toolbar {
      &.swagger-toolbar {
        background: @swagger-toolbar-bgcolor;
        .swagger-toolbar-title {
          div {
            color: @swagger-toolbar-title-color;
            font-family: @font-stack-bold;
            .font-size(18);
          }
        }
      }
      .swagger-toolbar-close-icon {
        button {
          background: @swagger-toolbar-close-button-bgcolor;
          color: @swagger-toolbar-close-button-color;
          font-family: @font-stack-bold;
          padding: 8px 0;      
          line-height: 18px !important;      
            .webix_icon {
              color: @swagger-toolbar-close-button-color;
              margin-top: -4px;             
          }
        }
      }
    }
  }
}
