<div class="customer_heading" style="padding-bottom: 15px">{{config.title}}</div>
<div class="{{config.cssClass || 'ratingbarlayout'}}">
  <div class="overallrating-main">
    <div class="overallrating-label">
      {{data.overallRating}}
    </div>
    <app-rating [data]="data.overallRating" [config]="{readOnly: true}"></app-rating>
    <div class="users">
      <span><i class="fa fa-user" aria-hidden="true"></i></span>
      <span class="toatl-users-label"> {{data.totalUsers}} total </span>
    </div>
  </div>
  <div class="overallrating-bars">
    <div class="bar-container" *ngFor="let bar of data.ratingDivisions; let index = index;">
      <div class="ratingnum">
        <!--<i class="as-star staricon md"></i>--> <span class='fa fa-star'></span> {{bar.rating}} 
      </div>
      <div ngClass="bar {{(config.barClasses&&config.barClasses[index]) || 'bar-'+ bar.rating}}" [style.width]="'calc(' + (bar.users * 100)/data.totalUsers + '% - 40px)'">
        <div class="usersnum">{{bar.users}}</div>
      </div>
    </div>
  </div>
</div>
