<!-- <vulcanux-microapp-renderer class="app-detail-page" *ngIf="detailsPageConfig" [config]="detailsPageConfig"></vulcanux-microapp-renderer> -->
<!-- <vulcanux-sp-renderer *ngIf="detailsPageConfig" [config]="detailsPageConfig"></vulcanux-sp-renderer> -->
<vulcanux-control class="app-detail-page" *ngIf="detailsPageConfig" [config]="detailsPageConfig"></vulcanux-control>