<div *ngIf="config.title" class="title">{{config.title}}</div>
<span [ngClass]="config.cssClass" [class.disabled]="config.disabled" [class.readonly]="config.readonly"
  class="rating" tabindex="0" role="slider" aria-valuemin="0" [attr.aria-valuemax]="ratingRange.length" [attr.aria-valuenow]="data">
  <span *ngFor="let item of ratingRange; let index = index">
    <i (click)="rate(item)" class="{{israted(item)?  'fa fa-star' : 'fa fa-star starempty'}} staricon {{config.size}}"
      [title]="ratingLabels[item]"></i>
  </span>
  <vulcanux-control class="ratingLable" *ngIf="ratingLabel && config.showRatingLabel" [config]="{view: 'label', dataParam: 'label'}"
    [data]="ratingLabel"></vulcanux-control>
</span>
